<!DOCTYPE html>
<html>
<head>
	<title></title>
	   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">
</head>
<body>
	<div class="container">
		<div class="row">
				<div class=" col-sm-12">
					<a href="{{url_for('info')}}" class="btn btn-sm btn-default " role='button' style="float: left;"><h6> Back </h6></a>
				</div>
		</div>
		<a href="#" style="float: left;"><img src="{{url_for('static',filename='indexs.jpg')}}" width="100px" height="100px" , alt="info"></a>
	<h5 class="ml-5" style="border-bottom: 2px solid grey">What is hemoglobin ?</h5>
	<p class="ml-5"><h6>Hemoglobin is the protein molecule in red blood cells that carries oxygen from the lungs to the body's tissues and returns carbon dioxide from the tissues back to the lungs.

Hemoglobin is made up of four protein molecules (globulin chains) that are connected together. The normal adult hemoglobin (abbreviated Hgb or Hb) molecule contains two alpha-globulin chains and two beta-globulin chains. In fetuses and infants, beta chains are not common and the hemoglobin molecule is made up of two alpha chains and two gamma chains. As the infant grows, the gamma chains are gradually replaced by beta chains, forming the adult hemoglobin structure.

Each globulin chain contains an important iron-containing porphyrin compound termed heme. Embedded within the heme compound is an iron atom that is vital in transporting oxygen and carbon dioxide in our blood. The iron contained in hemoglobin is also responsible for the red color of blood.

Hemoglobin also plays an important role in maintaining the shape of the red blood cells. In their natural shape, red blood cells are round with narrow centers resembling a donut without a hole in the middle. Abnormal hemoglobin structure can, therefore, disrupt the shape of red blood cells and impede their function and flow through blood vessels.</h6></p>
</div>
</body>
</html>